PORT=

SESSION_KEY=
MONGODB_ATLAS_URI=

NODEMAILER_HOST=
NODEMAILER_PORT=
NODEMAILER_SEC=
NODEMAILER_TLS=
NODEMAILER_REJ=
NODEMAILER_USER=
NODEMAILER_PASSWORD=

SALT_ROUNDS=
AES_KEY_A=
AES_KEY_B=
AES_KEY_C=
AES_KEY_D=
AES_KEY_E=
JWT_TOKEN_KEY=

CRYPTO_COMPARE_API_KEY=

